// ~/.config/zellij/config.kdl

pane_frames true
default_mode "normal"
mouse_mode true
simplified_ui false
pane_titles true
scrollback_lines_to_search 10000
show_startup_tips false
theme "catppuccin-frappe"